<!DOCTYPE html>
<html lang="pt=br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js - Methods v-model e evento click</title>
</head>
<body>
    <div id="app">
        <h1>{{titulo}}</h1>

        <input type="text" v-model="novaFruta">
        <button @click="addFruta">Adicionar</button>
        
        <ul>
            <!-- <li v-for="fruta of frutas">{{fruta}}</li> -->
            <li v-for="fruta of frutas">{{fruta.nome}} - {{fruta.quantidade}}
                <span v-if="fruta.quantidade === 0"> - Sem estoque</span>
            </li>
        </ul>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="aula-2.js"></script>

</body>
</html>